// Place all the styles related to the main_dummy_process controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "dummy_mixin.css.scss";

body{
  @include body_default();

  .header{
    background-color: #ccc;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: Arial;
    color: white;
  }

  a{
    text-decoration: none;
  }

  .options{
    border: solid 0.5px grey;
    margin: 10px;
    padding: 5px 10px 5px 10px;

    .option_language{
      color: cornflowerblue;
      margin-right: 30px;
      margin-left: 30px;

    }
  }

  .code_structure{
    a,button{
      float: right;
    }
    button{
      width: 150px;
      height: 35px;
      margin: 10px;
      display: inline-block;
    }
  }

  .data_option{
    border: solid 0.5px gray;
    .field_option{
      padding-left: 50px;
    }

  }

  .result_generated{
    .result_option{
      float: right;
      display: block;

    }
    .results{
      display: block;
      border: solid 0.5px grey;
      padding: 10px;
    }
  }

}
