// Place all the styles related to the main_dummy_process controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "dummy_mixin.css.scss";

$width_code_section:80%;
$default_padding:20px;
$default_color_text: #AAA;
$default_button_backgroundcolor:#ccc;

body{
  @include body_default();
  @include button_standard("button_gray", $default_button_backgroundcolor, darken($default_button_backgroundcolor,30%));
  @include button_standard("button_white", #fff, darken(#fff,30%));
  a{
    text-decoration: none;
  }

  .top-part{
    background-color: #E9E9E9;
    border-bottom: 0.5px solid #AAAAAA;
  }

  .bottom-part{
    background-color: #FFF;

  }

  .header{
    color: #000000;
    display: block;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    padding-top: 15px;
    text-align: center;
    width: 100%;
  }

  .options{
    margin: 10px auto;
    padding: 15px 10px;
    width: 80%;
    cursor: default;
    text-align: center;

    .option_language{
      color: $default_color_text;
      display: inline-block;
      font-family: arial;
      font-size: 16px;
      font-weight: bold;
      padding: 5px 30px;
    }
    .option_language:hover{
      color: darken($default_color_text,30%);
      text-decoration: underline;
    }

  }

  .code_structure{

    padding-top: $default_padding;
    padding-bottom: $default_padding;
    padding-left: (100% - $width_code_section) / 2;
    width:$width_code_section;
    font-weight: bold;

    a{
      float: right;
      color: $default_color_text;

    }
    a:hover{
      color: darken(darkgray,30%);
    }

    textarea{
      width: 100%;
    }

    .codemirror_container {
      padding-bottom: 10px;
    }

    .button_container{
      height:27px;
      button{
        float: right;
        }
    }

  }

  .data_option{
    padding: $default_padding;
    font-family: arial;
    font-weight: bold;
    color:$default_color_text;

    .data_count
    {
      border: medium none;
      box-shadow: none;
      font-weight: bold;
      margin-bottom: 2px;
      width: 80px;
    }
    .close_link{
      color:$default_color_text;
      float: right;
      padding-top: 5px;
      padding-left: 5px;
    }
    .close_link:hover{
      color:darken($default_color_text,20%);
    }
  }

  .result_generated{
    padding: $default_padding;
    .result_option{
      float: right;
      display: block;

    }
    .results{
      display: block;
      border: solid 0.5px gray;
      padding:10px;
    }

    .button_container{
      padding: 10px 10px;
    }

  }

}

.field_option{

  padding-top: 0px;
  border-top: 1px solid black;
  overflow: hidden;
  .field_class {
    background-color: #EFEFEF;
    border-bottom: 1px solid #BEBEBE;
    color: #A0A0A0;
    margin: 0 5% 17px;
    padding: 5px 0 5px;
    width: 90%;
    .class_name{
      background-color: rgba(0, 0, 0, 0);
      border: medium none;
      box-shadow: none;
      font-weight: bold;
      margin: 0 50% 0 0;
      padding: 0;
      text-align: center;
    }
  }

  ul{
    list-style: none;
    margin: 0px;

    li > span{
      width: 23%;
      display: inline-block;
      text-align: center;
      input{
        width: 70%;
        //margin: 5% 0px;
      }
      .field_name{
        background-color: rgba(0, 0, 0, 0);
        border: medium none;
        box-shadow: none;
        color: #AAAAAA;
        font-weight: bold;
        text-align: center;
      }

    }

  }
  .button_container{
    margin-left:72%;
  }
  .optionType{
    padding-bottom: 10px;
    width: 170px;
  }

}